/* IMPORT FONTS */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500&family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Mulish:wght@300;400&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");

:root {
  --font-primary: 'Baloo Da 2', Sans-serif;
  --font-secundary: 'Josefin Sans', sans-serif;
  --font-action: 'Mulish', Sans-serif;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  box-sizing: 0;
  padding: 0;

  list-style: none;
  text-decoration: none;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to left, #E100FF, #7F00FF);
  border-radius: 30px;

}



/* PARTE DO HEADER */

.hamburguer {
  /* background-color: #7F00FF; */
  width: 2rem;
  height: 2rem;
  position: fixed;
  z-index: 100;

  right: 1.7rem;
  top: 1.7rem;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;


}

/* .ShowMenu .hamburguer {
  right: 16rem;
} */

.line {
  width: 100%;
  height: .1rem;
  background-color: #fff;
  box-shadow: 0.1rem 0.1rem 2px #000;

  transition: transform 1s;
}

.ShowMenu #line1 {
  background-color: #4b4b4b;
  box-shadow: none;
  transform: rotate(45deg) translate(.3rem, .4rem);
}

.ShowMenu #line2 {
  opacity: 0;
  visibility: hidden;
}

.ShowMenu #line3 {
  background-color: #4b4b4b;
  box-shadow: none;
  transform: rotate(-45deg) translate(.3rem, -.5rem);
}

.hamburguer span {
  position: absolute;
  left: 3rem;
  height: 2rem;
  width: 6rem;
  background-color: #a044ff;
  opacity: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  font-family: var(--font-action);
  transition: all 0.3s ease;
}

.hamburguer span:before {
  content: "";
  position: absolute;
  border-right: .7rem solid #a044ff;
  border-top: .7rem solid transparent;
  border-left: .7rem solid transparent;
  border-bottom: .7rem solid transparent;
  left: -1.4rem;
}

.ShowMenu .hamburguer:hover span {
  opacity: 1;
}

.sideBar {
  width: 20rem;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: -20rem;
  z-index: 90;
  transition: all .5s ease;
}

.ShowMenu .sideBar {
  right: 0;
}

.menu {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menuItem {
  text-align: center;
  margin-bottom: .5rem;
}

.menuLink {
  font-family: var(--font-action);
  font-size: 2rem;
  color: #555;

  transition: color 1s ease;
}

.menuLink:hover {
  color: #E100FF;
}

.SocialMedia {
  position: absolute;
  bottom: 2rem;
  width: 100%;

  display: flex;
  justify-content: space-evenly;
}

.SocialMedia i {
  color: #444;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 2rem;
  border-radius: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 1s;
}

.SocialMedia i:hover {
  color: #fff;
  background-color: #E100FF;
}


/*  FORMATAÇÃO DA IMAGEM DO HEADER */
header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.img-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;

  background-color: rgba(0, 0, 0, 0.9);

}

.img-wrapper img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  opacity: 0.5;
  animation: zoom 25s;

}

.banner {
  position: absolute;
  top: 30%;
  left: 15%;
}

.banner h1 {
  color: #fff;
  font-size: 3.5rem;
  font-family: var(--font-primary);
  font-weight: 200;
  text-shadow: .2rem .3rem 2px rgba(0, 0, 0, .4);
  line-height: 3.5rem;

  margin-bottom: 2rem;

  opacity: 0;
  animation: MoveBanner 1s 0.5s forwards;
}

.banner p {
  color: #fff;
  font-family: var(--font-secundary);
  font-size: 2rem;
  text-shadow: .2rem .3rem 2px rgba(0, 0, 0, .4);

  margin-bottom: 2rem;

  opacity: 0;
  animation: MoveBanner 1s 0.7s forwards;

}

.banner button {
  font-family: var(--font-action);
  color: #fff;
  letter-spacing: .1rem;

  /* CONFIG DO GRADIENT DO BUTTON */
  background: #7F00FF;
  background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);
  background: linear-gradient(to left, #E100FF, #7F00FF);

  padding: 1rem 3rem;
  border: none;
  border-radius: 0.5rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .3s ease;
  animation: MoveBanner 1s 0.9s forwards;
  opacity: 0;

}

/* KEY FRAMES */

@keyframes zoom {
  0% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes MoveBanner {
  0% {
    transform: translateY(10rem) rotateY(-30deg);
  }

  100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}

/* --------------------------------------------------------- */
/* PARTE DE CONHECIMENTOS */

.conhecimentos {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(6, 6rem);
  row-gap: .5rem;
}

.Conhecimento:nth-child(1) {
  grid-column: 4 / 7;
  grid-row: 1 / 3;

}

.Conhecimento:nth-child(2) {
  grid-column: 3 / 6;
  grid-row: 3 / 5;

}

.Conhecimento:nth-child(3) {
  grid-column: 4 / 7;
  grid-row: 5 / -1;

}

.Conhecimento:nth-child(4) {
  grid-column: 11 / 14;
  grid-row: 1 / 3;

}

.Conhecimento:nth-child(5) {
  grid-column: 12 / 15;
  grid-row: 3 / 5;

}

.Conhecimento:nth-child(6) {
  grid-column: 11 / 14;
  grid-row: 5 / -1;


}

.secConhecimentos {
  background-color: #f5f5f5;
}

.secHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.secHeader h1 {
  font-family: var(--font-primary);
  font-size: 3rem;

  color: #4b4b4b;
  border-bottom: solid 3px #6a3093;

  margin-bottom: 1.5rem;
}

.CoHeader {
  display: flex;
  align-items: center;
  color: #4b4b4b;
}

.CoHeader i {
  font-size: 2.5rem;
}

.CoHeader h3 {
  font-family: var(--font-secundary);
  font-size: 2rem;
  padding-left: 1rem;
}

.CoText {
  font-family: var(--font-secundary);
  margin-top: 1rem;
}

.CoImg {
  grid-column: 7 / 11;
  grid-row: 2 / 6;
  width: 100%
}

.CoImg img {
  object-fit: cover;
  width: 100%;
}

/* -------- PROJETOS --------- */



.Projetos {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 4rem;


}

.card {
  width: 19rem;
  height: 27rem;
  position: relative;

}

.CardImg {
  width: 100%;
  height: 100%;
}

.CardImg img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: .5rem;


}

.CardInfo {
  opacity: 0;
  visibility: hidden;

  position: absolute;
  bottom: 0;
  padding: 2rem;
  text-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, .4);

  transition: all .5s;
}

.CardInfo h2 {
  font-family: var(--font-primary);
  font-size: 2rem;
  font-weight: 500;
  color: #eee;
}

.CardInfo h3 {
  font-family: var(--font-secundary);
  font-weight: 500;
  color: #eee;
  margin-bottom: 1.5rem;

}

.CardInfo p {
  font-family: var(--font-secundary);
  color: #eee;
  width: 80%;
  font-weight: 400;
  margin-bottom: 2rem;
}

.ButtonGlobal{

  border: none;
  border-radius: 0.5rem;

  font-family: var(--font-action);

  box-shadow: 0 .1rem .8rem rgba(0, 0, 0, .4);
  color: #eee;
  background: linear-gradient(to right, #E2E2E2, #C9D6FF);
  background: #C9D6FF;
  background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
}

.CardInfo button {
  width: 8rem;
  height: 2.5rem;
  border: none;
  border-radius: 0.5rem;

  font-family: var(--font-action);

  box-shadow: 0 .1rem .8rem rgba(0, 0, 0, .4);
  color: #eee;
  background: linear-gradient(to right, #E2E2E2, #C9D6FF);
  background: #C9D6FF;
  background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);


}

.CardInfo button a{
  color: #333;
}

.card:hover .CardInfo{
  bottom: 2rem;
  opacity: 1;
  visibility: visible;

}

.card:hover .CardImg {
  transition: filter .5s;
  filter: brightness(40%);
}


/* SESSÃO DE CONTATOS */

/* .SecContato {
  width: 100%;
  height: 100vh;

  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ContatoWrapper {
  width: 60%;
  height: 35rem;
  display: flex;

  box-shadow: 0 2rem 3rem rgba(0,0,0,.5);
}

.ContatoLeft{
  width: 35%;
  background: linear-gradient(rgba(15,15,15,0.6), rgba(22,22,22,0.9)),
  url(/Img/contato.jpg);
  background-size: cover;
}

.ContatoRight{
  width: 65%;
  background-color:#eee;
  padding: 1rem 3rem 3rem 3rem;
}

.SecContato h1 {
  width: 100%;
  text-align: center;

  font-family: var(--font-primary);
  color: #272727;
  font-size: 3rem;
  font-weight: lighter;
}

.SecContato form {
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.Field {
  background: transparent;
  border: none;
  width: 20rem;
  margin: 2rem 0;

  font-family: var(--font-secundary);
  font-size: 1.5rem;

  border-bottom: 2px dashed #636363;
  height: 3rem;
  outline: none;


}

.InputGrup {
  position: relative;
}

.InputGrup textarea{
  padding-top: 1rem;
  max-width: 20rem;
  max-height: 3rem;
}
 
.FieldLabel {
  position: absolute;
  left: 0;
  top: 2rem;
  font-size: 1.2rem;
  font-family: var(--font-secundary);
  text-transform: uppercase;

  transition: all .4s ease;

}

.Field:focus ~label {
  top: 0;
  font-size: .9rem;
}

.Field:focus {
  border-bottom: 1px solid;
}

.ButtonSubmit {
  font-size: 1.2rem;
  text-transform: uppercase;
  width: 90%;
  height: 3rem;
  cursor: pointer;
  transition: all .3s ease;

  background: #7F00FF;
  background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);
  background: linear-gradient(to left, #E100FF, #7F00FF);
}

.ButtonSubmit:hover{
  transform: scale(1.1);
} */

/* ----------DESABILITADO POR FUNCIONALIDADE */

footer{
  width: 100%;
  height: 6rem;
  background-color: #eee;

  display: flex;
  align-items: center;
  justify-content: center;
}

.Content{
  width: 60%;
  
  display: flex;
  justify-content: space-between;
}

.Content p {
  font-family: var(--font-secundary);
  color: #444;
  font-size: 1.2rem;
}

.SocialList a {
  margin: 0 2rem;
  color: #444;
  font-size: 1.7rem;
}


.SocialList ul {
  display: flex;
}


#TopLink {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  width: 3rem;
  height: 3rem;

  background: #7F00FF;
  background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);
  background: linear-gradient(to left, #E100FF, #7F00FF);
  color: #fff;

  display:flex;
  justify-content:center;
  align-items: center;

  border-radius: .7rem;

  box-shadow: 0 0 .1rem 0.6rem #00000009;
}

/* -------------------- RESPONSIVO ----------------------- */


@media screen and (max-width: 768px) {
  .hamburguer span{
    visibility: hidden;
    display: none;
  }

  .conhecimentos {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;


    
  }
  .Conhecimento {
    width: 70%;
  }

  .CoImg {
    width: 70%;
  }

  .Projetos {
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    
  }

  .card {
    width: 65%;
    /* height: 27rem; */
    box-shadow: 0 .1rem .8rem rgba(0, 0, 0, .4);
    border-radius: 0.7rem;

  }
  
  .Content {
    width: 100%;
    justify-content: center;
    padding: 0 1rem;
  }
  .Content p {
    font-size: .8rem;
    display: flex;
    align-items: center;
  }


 }